<%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :my_post do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :text %>
      <%= f.text_field :text %>
    </div>
      <%= f.submit "Comment" %>
  <% end %>