<div id="posts_container">
  <div id="user_container">
  <img id="user_img" src="<%= @user.photo %>" alt="user profile">
      <div id="container_container_div">
        <h3><%= @user.name %></h3>
        <p>Number of posts: <%= @user.posts_counter %></p>
      </div>
    </div>
    <% @posts.each do |post|%>
    <div id="user_posts">
      <h3>Post #<%= post.id %></h3>
      <p><%= post.text %></p>
      <h4>Comments <%= post.comments_counter %> likes: <%= post.likes_counter %></h4>
    </div>
    <% @comments=Comment.where(post_id: post.id)%>
    <div id="comments_container">
    <% @posts.each do |comment| %>
        <div id="comments">
         <%= @user.name%>: <%= comment.text%>
        </div>
    <% end %>
    </div>
  <% end %>
  <div id="button_container">
    <button id="pagination_button">Pagination</button>
  </div>
</div>